<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col"><i class="fi-rr-dollar"></i></th>
        <th scope="col">Stock</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games" [ngClass]="{'isOffer': game.isOffer}">
        <td><img src="{{game.image}}" alt="{{game.name}}" style="height: 50px;"></td>
        <td>{{game.name}}</td>
        <td>{{game.category}}</td>
        <td>{{game.price | currency}}</td>
        <td>
            <span *ngIf="game.stock>0">{{game.stock}}</span>
            <span class="badge badge-warning" *ngIf="game.stock==0">NO STOCK</span>
        </td>
        <td>
            <app-input-integer [(quantity)]="game.quantity" [max]="game.stock" *ngIf="game.stock"></app-input-integer>
            {{game.quantity}}
        </td>
      </tr>
    </tbody>
  </table>
  
 
