<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/"><img src="https://1.bp.blogspot.com/-nZWHxn-N72Q/XIafjdKz3HI/AAAAAAAAImo/dldCM94NHqw6r50tC9v-UnTt9xHocb7eACK4BGAYYCw/s1600/icon%2Bgame%2Bvideo.png" alt="" style="height: 50px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/store">STORE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">CONTACT</a>
      </li>
    </ul>
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><span class="mr-2">REGISTER</span> <i class="fi-rr-arrow-right"></i></button>

  </div>
</nav>

<div class="container pt-5">
  <router-outlet></router-outlet>   <!--Router-->
</div>


<footer class="page-footer font-small" style="background-color: black; color: white;">
  <div class="footer-copyright text-center py-3"> © TUDAI - With <span style="color: red;"> <3 </span> by
    <a href="https://github.com/arielvincennao" target="_blank"> @arielvincennao</a>
  </div>
</footer>

